$text-color:green;
$menu_color:#CC0000;
$menu_color_selected:#E69138;
$orange_for_hover:#e3831c;
$red_for_hover:#a71b0c;
$light_red:#F04412;
$background:#EEEEEE;
$grey_for_info_table : #e0e0e0;
$dark_mode : rgba(0,0,0,0.7);
